<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>

    <h1>Welcome To Covid-19 Database</h1>
    <h1> Total Families : <%= families %></h1>
    <h1> Total Users : <%= users %></h1>
    <h1> Total Covid-19 Positive : <%= covid %></h1>
    <h1> Total Quarantined : <%= quarantined %></h1>

</body>

</html>