<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(person.length>0){ %>
    <ul>
        <% for(let per of person) { %>
        <li> <a href="/family/<%= per.id %>"> <b>Family</b> : <%= per.familyId %> <b>Location</b> :
                <%= per.district %></a>
            <div>
                <form action="/editFamily/<%= per.id %>" method="GET">
                    <button type="submit">Edit</button>
                </form>
                <form action="/deleteFamily/<%= per.id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>

        </li>
        <% } %>
    </ul>
    <% }else{ %>
    <h1>No Entry has been made</h1>
    <% } %>
</body>

</html>