<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/navigation.ejs') %>
    <div>
        <div class="container centered">
            <p>Family Id : <%= fam.familyId %></p>
            <p>Address : <%= fam.Address %></p>
            <p>District : <%= fam.district %></p>
            <p>State : <%= fam.state %></p>
            <p>Postal : <%= fam.postal %></p>
            <p>Country : <%= fam.country %></p>
        </div>
        <div class="centered">
            <h2>Members</h2>
            <div class="grid">
                <% for(let per of person) { %>
                <div class="container">
                    <a href="/userInfo/<%= per.id %>">
                        <div class="container__content">
                            <h2 class="container-id">
                                <b>Member ID</b> : <%= per.id %>
                            </h2>
                            <p class="container-location">
                                <b>Name</b> : <%= per.name %>
                            </p>
                        </div>
                    </a>
                    <div class="container__actions">
                        <form action="/editUser/<%= per.id %>" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/deleteUser/<%= per.id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>