<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Name : <%= user.name %></h1>
    <h1>Age : <%= user.age %></h1>
    <h1>Sex : <%= user.sex %></h1>
    <h1>Date of Birth : <%= date %></h1>
    <h1>Email : <%= user.email %></h1>
    <h1>Phone : <%= user.phone %></h1>
    <div>
        <h2>Covid - 19 : <%= medical.status %></h2>
        <h2>Is Quarantined : <%= medical.isQuarantined %></h2>
    </div>
    <div>
        <h2>History</h2>
        <ul>
            <% for(let per of history) { %>
            <li>
                <p><%= per.name %> is currently <%= per.status %> </p>
            </li>
            <% } %>
        </ul>
    </div>

</body>

</html>