<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/navigation.ejs') %>
    <div>
        <div class="container centered">
            <p>Name : <%= user.name %></p>
            <p>Age : <%= user.age %></p>
            <p>Sex : <%= user.sex %></p>
            <p>Date of Birth : <%= date %></p>
            <p>Email : <%= user.email %></p>
            <p>Phone : <%= user.phone %></p>
        </div>
        <div class="centered">
            <div>
                <h2>Covid - 19 : <%= medical.status %></h2>
                <h2>Is Quarantined : <%= medical.isQuarantined %></h2>
            </div>
            <div class="grid">
                <% for(let per of history) { %>
                <div class="container">
                    <a>
                        <div class="container__content">
                            <p>Disease => <%= per.name %> and is currently <%= per.status %> </p>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>