<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/navigation.ejs') %>
    <% if(person.length>0){ %>
    <div class="grid">
        <% for(let per of person) { %>
        <div class="container">
            <a href="/family/<%= per.id %>">
                <div class="container__content">
                    <h2 class="container-id">
                        <b>Family ID</b> : <%= per.familyId %>
                    </h2>
                    <p class="container-location">
                        <b>Location</b> : <%= per.district %>
                    </p>
                </div>
            </a>
            <div class="container__actions">
                <form action="/editFamily/<%= per.id %>" method="GET">
                    <button type="submit">Edit</button>
                </form>
                <form action="/deleteFamily/<%= per.id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
    <% }else{ %>
    <h1>No Entry has been made</h1>
    <% } %>
</body>

</html>